  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
  }
  
  nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  nav a,
  .hero p {
    font-size: 18px;
    color: #E5E7EB;
  }
  
  .logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 8px;
  }
  
  .nav-links {
    display:flex;
    justify-content: flex-end;
    padding: 8px;
    gap:15px;
    margin-left: 50%;  
  }

  .info h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
  }
  
  .quote {
    background-color:#E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
  }
  
  header {
    background-color:#1F2937;
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .hero {
    background-color:#1F2937;
    padding: 2.75rem;
    display: flex;
    
  }

  .sub-head-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    padding:1rem;
  }
  
  .hero-image {
    display:flex;
    flex:1;
    justify-content: center;
    height: 300px;
    width: auto;
  }

  #sub-text {
    margin:4px;
  }

  .info-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .quote {
    padding: 2rem;
    text-align: center;
  }
  
  .cta {
    background-color:#3882F6;
    color: #F9FAF8;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  footer {
    background-color:#1F2937;
    color: #E5E7EB;
    padding: 1rem;
    text-align: center;
  }